.menu {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background: #636e72;

	.menu__logo {
		a {
			display: block;
			font-weight: 900;
			font-size: 2em;
			line-height: 1em;
			color: #f5f5f5;
			text-transform: uppercase;
			text-decoration: none;
			text-shadow: 2px 2px 0 rgba(0,0,0,0.2);
			transition-duration: 0.2s;

			&:hover {
				color: #f5f5f5 - 20;
			}
		}
	}

	.menu__nav {
		display: flex;
		align-items: center;

		.nav__button {
			display: block;
			border: 0;
			border-top: 1px solid #636e72 + 30;
			border-bottom: 1px solid #636e72 + 30;
			background: transparent;
			color: #f5f5f5;
			cursor: pointer;
			padding: 4px 25px;
			font-size: 14px;
			transition-duration: 0.2s;

			&:first-child {
				border-left: 1px solid #636e72 + 30;
				border-top-left-radius: 2px;
				border-bottom-left-radius: 2px;
			}
			&:last-child {
				border-right: 1px solid #636e72 + 30;
				border-top-right-radius: 2px;
				border-bottom-right-radius: 2px;
			}

			&:hover {
				background: #636e72 + 30;
			}
		}

		.nav__button-active {
			background: #636e72 + 30;
		}
	}
}