.footer {
	margin-top: 3em;
	padding: 0 1em;
	background: #f5f5f5;
	color: #b2bec3 - 30;

	.footer__container {
		max-width: 1100px;
		margin: 0 auto;
		padding: 1.5em 0;

		.footer__links {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 0.7em;
			text-transform: uppercase;

			.footer__social {
				display: flex;
				justify-content: center;
				margin-right: 50px;
				
				a {
					display: block;
					margin-right: 10px;
					text-decoration: none;
					color: #b2bec3 - 30;
					transition-duration: 0.2s;

					&:last-child {
						margin-right: 0;
					}

					&:hover {
						color: #3c3c3c;
					}
				}
			}
		}

		hr {
			margin: 1.5em 0;
			height: 1px;
			border: 0;
			background: #b2bec3;
		}

		.footer_text {
			p {
				margin-bottom: 10px;
				text-align: justify;
				font-size: 12px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}